// Variables

// Fonts-Size
$sizes: (
	"small": 12px,
	"normal": 16px,
	"medium": 20px,
	"big": 32px,
	"huge": 48px,
);

// Colors
$white: #ffffff;
$middle-blue-green: #9ce2da;
$green-sheen: #7bc1b5;
$blue-green: #4d8fb2;
$steel-blue: #4780a5;
$hookers-green: #487c73;
$charcoal: #20475c;
$snow: #fef6f8;
$piggy-pink: #fce1e6;
$light-pink: #fba7ae;
$pink-sherbet: #f5889d;
$congo-pink: #fa867b;
$blush: #dd5677;
$copper-penny: #ad6d72;
$redwood: #b0625a;
$spanish-gray: #9b9b9b;
$black: #000000;

$colors: (
	"light": #ffffff,
	"middle-blue-green": #9ce2da,
	"green-sheen": #7bc1b5,
	"blue-green": #4d8fb2,
	"steel-blue": #4780a5,
	"hookers-green": #487c73,
	"charcoal": #20475c,
	"snow": #fef6f8,
	"piggy-pink": #fce1e6,
	"light-pink": #fba7ae,
	"pink-sherbet": #f5889d,
	"congo-pink": #fa867b,
	"blush": #dd5677,
	"copper-penny": #ad6d72,
	"redwood": #b0625a,
	"spanish-gray": #9b9b9b,
	"dark": #000000,
	"transparent": #00000000,
);
