// Tag Cloud

.tagcloud {
	text-align: center;

	@media (min-width: 576px) {
		text-align: inherit;
	}

	.tag-cloud-link {
		display: inline-block;
		margin-bottom: 5px;
		padding: 8px;
		font-size: 1em !important;
		font-weight: bold;
		text-decoration: none;
		border-radius: 0.25em;
		color: $white;
		background-color: $blush;

		&:hover,
		&:active,
		&:focus {
			background-color: darken($blush, 10%);
		}
	}
}
