// WooCommerce My Account

.woocommerce {
	.woocommerce-MyAccount-navigation {
		.is-active {
			font-weight: bold;
			color: $blush;
			background-color: $piggy-pink;
		}

		ul {
			padding: 0;
			list-style: none;
		}

		li {
			padding: 0.3rem 0.7rem;
			text-transform: uppercase;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.woocommerce-Address {
		max-width: inherit;
	}

	.woocommerce-Address-title {
		:first-child {
			font-size: 1.2rem;
			font-weight: 700;
		}
	}

	table.my_account_orders {
		font-size: inherit;
	}
}
