// Footer

.footer {
	padding-top: 30px;
	background-color: $pink-sherbet;
	color: $white;
}

.footer-widgets {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	.widget-column {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&:first-child {
			flex: 1 1 70%;

			@media (min-width: 992px) {
				margin-right: 10%;
			}
		}

		&:last-child {
			flex: 1 1 20%;

			// .widget_nav_menu {
			.menu {
				justify-content: flex-end;
				align-items: center;
			}

			.menu-item {
				&:not(:last-child) {
					margin-bottom: 1.2rem;

					@media (min-width: 992px) {
						margin-right: 1.2rem;
						margin-bottom: 0;
					}
				}
			}
			// }
		}
	}

	.widget {
		padding: 0 0 15px;
		color: $white;
		font-size: 0.9rem;
		text-align: center;

		.widget-title {
			margin-bottom: 30px;
			color: $white;
		}
	}

	// .widget_nav_menu {
	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	.menu-item {
		margin: 0;
		text-transform: uppercase;

		&.current-menu-item,
		&:hover,
		&:active,
		&:focus {
			a {
				opacity: 0.8;
				text-decoration: none;
			}
		}
	}
	// }

	.widget_text {
		@media (min-width: 992px) {
			text-align: right;
		}
	}

	// Change Gallery Widget to Display Grid
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;

		.gallery-item {
			width: auto !important;
			margin: 0 !important;
		}

		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;

			.gallery-item {
				width: auto !important;
				margin: 15px !important;
			}
		}
	}
}

.footer-copyright {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 15px 15px 30px;
		border-top: 1px solid $white;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
			padding: 15px 0 30px;
			text-align: initial;
		}
	}
}
