// Header

#header {
	position: absolute;
	width: 100%;
	z-index: 1080;

	&::after {
		@media (min-width: 1200px) {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 400px;
			height: 432px;
			background: url("../../images/bouquet-of-flowers.png") center center no-repeat;
			background-size: contain;
			transform: translate(-50%, -50%) scale(0.66);
			z-index: -1;
		}

		@media (min-width: 1400px) {
			transform: translate(-50%, -50%);
		}
	}

	.navbar {
		.navbar-brand {
			order: 0;

			@media (min-width: 992px) {
				order: 1;
			}

			img {
				max-width: 115px;

				@media (min-width: 992px) {
					max-width: 100%;
				}
			}
		}

		.social-networks {
			order: 0;

			@media (min-width: 992px) {
				order: 1;
			}

			margin-right: 0;

			a {
				font-size: 1.2rem;
				color: $white;

				&:not(:last-child) {
					padding-right: 15px;
				}

				&:hover,
				&:active,
				&:focus {
					text-decoration: none;
					color: $blush;
				}
			}
		}

		.navbar-toggler {
			order: 0;

			@media (min-width: 992px) {
				order: 1;
			}
		}

		.navbar-collapse {
			order: 1;

			@media (min-width: 992px) {
				order: 0;
			}
		}
	}
}
