// Image Align Full
// Used to force the full width of a image, for example inside a cover block.

.is-style-image-alignfull {
	max-width: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
