// Cover with wave shape on top

.is-style-wave-shape-on-top {
	&,
	&__reversed {
		.wp-block-cover__background {
			&::before {
				content: "";
				position: absolute;
				display: block;
				top: 0 !important;
				width: 100%;
				height: 230px;
				-webkit-mask: url(../../svg/wave-top.svg) no-repeat 50% 50%;
				-webkit-mask: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1955.87 327.56' xml:space='preserve'%0A%3E%3Cpath class='st0' d='M1966.95,52.07c-17.39-4.09-35.05-6.06-52.88-5.89c-39.95,0.37-78.04,9.81-115.03,24.33 c-43.61,17.11-83.56,41.11-123.66,64.93c-35.63,21.17-71.15,42.66-107.87,61.82c-51.53,26.89-106.71,43.73-163.95,53.91 c-43.43,7.73-87.18,10.71-131.15,8.46c-23.56-1.2-47.16-3.69-70.49-7.21c-80.92-12.22-157.65-39-233.44-68.76 c-64.13-25.18-127.77-51.63-192.23-75.94C684.17,73,589.41,47.38,492.66,29.4c-29.72-5.52-59.7-9.72-89.64-13.96 c-4.89-0.69-9.98-1.17-9.98-1.17c-3.29-0.37-18.31-2.08-30.67-3.19c-19.41-1.73-35.34-2.24-40.09-2.37 c-12.61-0.36-28.28-0.43-46.34,0.37c-4.39,0.16-9.66,0.41-15.64,0.82c0,0-9.29,0.63-18.33,1.58c-19.85,2.09-40.07,5.97-42.95,6.53 C145.89,28.3,96.39,46.32,96.39,46.32c-34.19,12.96-66.99,29-99.45,45.75c-0.09,81.06-0.17,162.11-0.26,243.17l1970.26,2.21 C1966.95,242.32,1966.95,147.2,1966.95,52.07z'/%3E%3C/svg%3E%0A")
					no-repeat 50% 50%;
				mask: url(../../svg/wave-top.svg) no-repeat 50% 50%;
				mask: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1955.87 327.56' xml:space='preserve'%0A%3E%3Cpath class='st0' d='M1966.95,52.07c-17.39-4.09-35.05-6.06-52.88-5.89c-39.95,0.37-78.04,9.81-115.03,24.33 c-43.61,17.11-83.56,41.11-123.66,64.93c-35.63,21.17-71.15,42.66-107.87,61.82c-51.53,26.89-106.71,43.73-163.95,53.91 c-43.43,7.73-87.18,10.71-131.15,8.46c-23.56-1.2-47.16-3.69-70.49-7.21c-80.92-12.22-157.65-39-233.44-68.76 c-64.13-25.18-127.77-51.63-192.23-75.94C684.17,73,589.41,47.38,492.66,29.4c-29.72-5.52-59.7-9.72-89.64-13.96 c-4.89-0.69-9.98-1.17-9.98-1.17c-3.29-0.37-18.31-2.08-30.67-3.19c-19.41-1.73-35.34-2.24-40.09-2.37 c-12.61-0.36-28.28-0.43-46.34,0.37c-4.39,0.16-9.66,0.41-15.64,0.82c0,0-9.29,0.63-18.33,1.58c-19.85,2.09-40.07,5.97-42.95,6.53 C145.89,28.3,96.39,46.32,96.39,46.32c-34.19,12.96-66.99,29-99.45,45.75c-0.09,81.06-0.17,162.11-0.26,243.17l1970.26,2.21 C1966.95,242.32,1966.95,147.2,1966.95,52.07z'/%3E%3C/svg%3E%0A")
					no-repeat 50% 50%;
				-webkit-mask-size: cover;
				mask-size: cover;
				background: inherit;
				transform: translateY(-99.5%);
				z-index: 1;

				@media (min-width: 1600px) {
					height: 330px;
				}
			}
		}
	}

	&__reversed {
		.wp-block-cover__background {
			&::before {
				transform: translateY(-99.5%) scaleX(-1);
			}
		}
	}
}
