// Archives

.blog,
.archive {
	main {
		& > header {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			min-height: 250px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
